.main {
  display: flex;
  margin:auto;
  width:95%;
  
}
#upper{
  background-color: antiquewhite;
  height:250vh;
  margin-top:0px;
}
.left{
  width:30%;
margin-top:20px;  
  
}
.vl {
  border-left: 6px solid black;
  height: 200vh;
}
.blog-area{
border-radius: 5px;
}

#inp{
  border-radius: 8px;
  padding:10px;
  border:none;
}
.right{
  width:70%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  margin-top:20px;
  
  grid-gap:10px;
  margin-left: 10px;
  justify-content: center;

}
.search-1{
  border-radius: 8px;
  padding:1rem;
  border:none;
  width:30rem;
  margin-left: 29%;
  
  
}
#search{
  padding:2rem;

height:2rem;
background-color:rgb(41, 48, 80);
border-bottom:4px solid black;
}
#details{
  width:100%;
  /* border:1px solid black; */
  height:25rem;
  background-color:lightgray;
  border-radius:10px;
  text-align:center;
  

}
#inp{
  width:50%;
}

#btn{
  width:50%;
  background-color:rgb(30, 49, 49);
  color:white;
  border-radius:10px;
  height:30px;
  border:none;
  font-weight: bold;
  cursor: pointer;
}
#btn:hover{
  width:50%;
  background-color:rgb(29, 150, 150);
  color:white;
  border-radius:10px;
  height:30px;
  border:none;
  font-weight: bold;
  cursor: pointer;
}

.btn-btn-1{

  background-color:rgb(101, 151, 216);
  color:white;
  border-radius:10px;
  height:3rem;
  border:none;
  font-weight: bold;
  margin-left: .7rem;
  width: 10rem;
  cursor: pointer;
}
.btn-btn-1:hover{

  background-color:rgb(34, 62, 99);
  color:white;
  border-radius:10px;
  height:3rem;
  border:none;
  font-weight: bold;
  margin-left: .7rem;
  width: 10rem;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img{
  width:100%;
  height:15rem;
  border-radius: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
